<h1 style="color:#FF0000;">Yangon Region Government</h1>

### Appendix
- Click on the links:

>1.   <a href=#intro>Intro</a>
>2.   <a href=#imports>Impots</a>
>3.   <a href=#load>Load Data</a>
>4.   <a href=#Formating>Data Formating</a>
>5.   <a href=#Valid>Valid Assumption(Optional If exist)</a>
>6.   <a href=#EDA1>Exploratory Data Analysis(uin-variable)</a>
>7.   <a href=#EDA2>Exploratory Data Analysis(muli-variable-relationships)</a>
>8.   <a href=#ques>Questions & Insights</a>
>9.   <a href=#con>Conculsion</a>

###   <a name='intro'>Domain Background:</a>

Yangon is the capital of the Region and the largest city of Myanmar (also known as Burma). Yangon served as the capital of Myanmar until 2006, when the military government relocated the administrative functions to the purpose-built capital city of Naypyidaw in north central Myanmar
Yangon government wanted to develop this city by increasing employment opportunities in it, and decided to review the data of employees in San Francisco in order to know the most important jobs spread, salaries and benefits offered to each employee

###   <a name='intro'>Data Description:</a>

The original source for this data is here , and we have taken from kaggel (SF Salaries | Kaggle).
This data set is name as Salaries contain 13 column and 148654 rows.


 ###  <a name='intro'>featuers:</a>

id: A unique identifier for each employee.

EmployeeName: Name of employee.

JobTitle: Names of Job.

BasePay: Base salary without any additions.

OvertimePay: Amount of overtime pay.

OtherPay: Amount of other pay.

Benefits: Amount of benefits.

TotalPay: Amount of base pay plus overtime pay without benefits.

TotalPayBenefits: Amount of base pay plus overtime pay plus benefits.

Year: year for every jobs.

Notes: comment for job.

Agency: city of job.

Status: type of job (PT, FT).




###   <a name='intro'>Tools:</a>

•	Numpy and Pandas for data manipulation

•	Matplotlib and Seaborn for plotting

•	Tableau for interactive visualizations

 ###   <a name='imports'>Libraries Imports:</a>

In [1]:
# Data Analysis Libs
print ("Importing.....",end="",flush=True)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline 

# suppress warnings
import warnings
warnings.filterwarnings('ignore')
print("[Done]")

Importing.....[Done]

 ###  <a name='load'>Load Data:</a>

In [3]:
df= pd.read_csv("Salaries.csv")
df.head

<bound method NDFrame.head of             Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle       BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)     155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)     212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC       77916.0
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      134401.6
...                                                ...           ...
148649                                       Custodian             0
148650                                    Not provided  Not Provided
148651                                    Not provided  Not Provided
148652                                    Not provided  Not Provided
148653                      Counselor, Log Cabin Ranch             0

         OvertimePay      OtherPay      Benefits   TotalPay  TotalPayBenefits  \
0                0.0     400184.25           NaN  567595.43         567595.43
1          245131.88     137811.38           NaN  538909.28         538909.28
2          106088.18       16452.6           NaN  335279.91         335279.91
3           56120.71      198306.9           NaN  332343.61         332343.61
4             9737.0     182234.59           NaN  326373.19         326373.19
...              ...           ...           ...        ...               ...
148649             0             0             0       0.00              0.00
148650  Not Provided  Not Provided  Not Provided       0.00              0.00
148651  Not Provided  Not Provided  Not Provided       0.00              0.00
148652  Not Provided  Not Provided  Not Provided       0.00              0.00
148653             0       -618.13             0    -618.13           -618.13

        Year  Notes         Agency Status
0       2011    NaN  San Francisco    NaN
1       2011    NaN  San Francisco    NaN
2       2011    NaN  San Francisco    NaN
3       2011    NaN  San Francisco    NaN
4       2011    NaN  San Francisco    NaN
...      ...    ...            ...    ...
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

[148654 rows x 13 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB